<div class="container">
    <h1>Lista de compras</h1>

    <form #frm="ngForm" class="add-item-form">
        <input 
            id="item" 
            type="text" 
            name="item"
            [(ngModel)]="item" 
            placeholder="adicionar item"
        />
        <button type="submit" (click)="adicionarItem()">Adicionar</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>Arroz</th>
                <th><input type="checkbox"/></th>
            </tr>

            <tr>
                <th>2</th>
                <th>Maça</th>
                <th><input type="checkbox"/></th>
            </tr>
        </tbody>
    </table>
</div>