<div class="container">
    <h1>Lista de compras</h1>

    <form #frm="ngForm" class="add-item-form">
        <input 
            id="item" 
            type="text" 
            name="item"
            [(ngModel)]="item" 
            placeholder="adicionar item"
        />
        <button type="submit" (click)="adicionarItem()">Adicionar</button>
        <button type="button" (click)="limparLista()">Limpar Lista</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody> 

            @for( elemento of lista; track elemento.id){
                 <tr>
                    <th>{{elemento.id}}</th>
                    <th><span [ngClass]="{ 'item-riscado': elemento.comprado }">{{elemento.nome}}</span></th>
                    <th><input 
                        type="checkbox"
                        (click)="riscarItem(elemento)"
                        [checked]="elemento.comprado"
                        /></th>
                </tr>
            } @empty {
                <tr colspan="3">
                    Nenhum item adicionado
                </tr>
            }
        </tbody>
    </table>
</div>