body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.form-box{
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px #000;
}

h2{
    margin-bottom: 20px;
    color: #333;
}

label{
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input[type="number"]{
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

button{
    width: 75%;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #2b0e9e;
}

button:hover{
    background-color: #0056b3;
}

.result-display{
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

#result{
    font-weight: bold;
}